{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="row d-flex justify-content-center">
  {{ range .Pages.ByPublishDate.Reverse }}
  <div class="col-lg-4 my-3">
    <div class="card shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ .Params.featured_image }}" style="object-fit: cover;"></img>
      <div class="card-body">
        <h3 class="card-text">{{ .Title }}</h3>
        
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{{ .RelPermalink }}">
            <button type="button" class="btn btn-sm btn-outline-secondary"> View</button></a>
          </div>
          <div class="btn-group">
            {{ with .Params.tags }}
            {{ range . }}
            {{ $href := print (absURL "tags/") (urlize .) }}
            <a class="btn btn-sm btn-outline-secondary" href="{{ $href }}">{{ . }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
</div>
{{ end }}
<div class="card" >
  <img class="card-img-top" src="{{ .Params.featured_image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> {{ .Title }}</h5>
    <p class="card-text">{{ .Summary  }}</p>
    <a href="{{ .RelPermalink }}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


